<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>Icon-57.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>width</key>
			<integer>57</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-114.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>114</integer>
			<key>width</key>
			<integer>114</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-72.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>72</integer>
			<key>width</key>
			<integer>72</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-144.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>144</integer>
			<key>width</key>
			<integer>144</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>icon-29.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-58.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>58</integer>
			<key>width</key>
			<integer>58</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-50.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>width</key>
			<integer>50</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-100.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>width</key>
			<integer>100</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-60.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>width</key>
			<integer>60</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-120.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>120</integer>
			<key>width</key>
			<integer>120</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-76.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>76</integer>
			<key>width</key>
			<integer>76</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-152.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>152</integer>
			<key>width</key>
			<integer>152</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-40.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>width</key>
			<integer>40</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>Icon-80.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>iTunesArtwork.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>512</integer>
			<key>width</key>
			<integer>512</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>iTunesArtwork@2x.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<real>1024</real>
			<key>width</key>
			<integer>1024</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>icon-180.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>180</integer>
			<key>width</key>
			<integer>180</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>icon-180.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>180</integer>
			<key>width</key>
			<integer>180</integer>
		</dict>
	</dict>
	<dict>
		<key>filename</key>
		<string>icon-180.png</string>
		<key>dimensions</key>
		<dict>
			<key>height</key>
			<integer>167</integer>
			<key>width</key>
			<integer>167</integer>
		</dict>
	</dict>
</array>
</plist>
